*{
  margin: 0px;
  padding: 0px;
}

body{
  background-color: black;
}

#parent{
  display: flex;
  flex-wrap: wrap;
  margin: 5%;  
  gap: 1rem;
}
.card{
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 30%;
  justify-content: center;
  align-items: center;
  height: 40vh;       
  overflow: hidden; 
  background-color: #2e2c2c;
  color: white;  
  border-radius: 10px;
  position: relative; 

}

.card img{
  height: 30%;
  border-radius: 10px;
  
}
.card h2{
  width: 100%;
  text-align: center;
}
.card .expand{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;   /* adjust as needed */
  right: 0px;
  cursor: pointer;
}

.card .expand img{
  height: 30px;
}